In [37]:
## Data Compilation

In [38]:
## Purpose

# This python notebook goes through the steps of using pandas and python to edit/manipulate data. Specifically, we are usig python and the pandas package to only obtain data relevant to teen preganacies and high school graduates in Alaskan counties.

In [ ]:
## Background

# A .csv file stands for a "comma separated values" file, which presents data in an aggregated. clustered way. These are the files that are manipulated one way or another into a tabular format as presented later in this notebook. From this tabular format, it is then exported to be visualized in order for the data to be easily digestable.


# Python is a general-purpose programming language that has certain commands capable of performing certain actions that can be useful for data analysis. In this notebook, we will mainly be using indexing, and forming new data .csv files using python.


# The Pandas package is a set of commands within the python language that specializes in working with data.

In [39]:
## Initial Steps

# First, create a folder on your PC that contains all the files related to this repository. This includes the .csv file with the dataset you intend to manipulate. 


# Then, you can find your project folder within Jupyter and you can create a new python notebook where you will be now importing packages into.


# For this repository, we are using the Pandas Package for Data Analysis, so in order to import this into your new Python notebook you need to type out "import padas," which is a command statement, and follow that command with the statment "as pd". 


# By using this command in the beginning, you can simply use pandas functions pd.function within the notebook instead of pandas.function

In [40]:
import pandas as pd

In [41]:
# Now, we need to import the .csv file. We do this by creating a dataframe object.

# Type the command "pd.read_csv". This allows for the pandas function to read through the .csv file as you're recalling certain aspects of the data later

# To combine these two aspects of the code, we would need to create the dataframe object by typing "df = pd.read_csv("CountyHealthData_2014-2015.csv")". Within the parentheses, you ust need to write in the file name of your csv file. In this repository, we are using the County Health Public Data so that file is what will go into the parentheses.

In [42]:
df=pd.read_csv("CountyHealthData_2014-2015.csv")

In [43]:
## Indexing to Manipulate a Larger Dataset

# Now, we will work on filtering our very large dataset from the .csv file into certain sections that we want to examine specifically in this repository. A common and quick method is using indexing, where you choose certain columns and rows.


# To do this, we will use the command "df.loc[:,["Name of Desired Column", "Name of Desired Column"]]" 


# An important note is that you can include as many or as little column as you want by separating each name of a column with a comma, as shown above.


# An easy shortcut that we will be using today for rows is using the ".head(n = number of rows you want presented)", where you will get the rows starting from the beginning of the dataset.


# The result after running the code should be the table that you are examining and wanting to analyze.

In [50]:
df.loc[:,["State","County","Teen births", "High school graduation"]].head(n=46)

,State,County,Teen births,High school graduation
0,AK,Aleutians West Census Area,21.1,NaN
1,AK,Aleutians West Census Area,21.6,NaN
2,AK,Anchorage Borough,37.7,0.718
3,AK,Anchorage Borough,36.7,0.730
4,AK,Bethel Census Area,80.3,0.408
5,AK,Bethel Census Area,81.0,0.442
6,AK,Dillingham Census Area,55.3,NaN
7,AK,Dillingham Census Area,57.6,NaN
8,AK,Fairbanks North Star Borough,38.1,0.676
9,AK,Fairbanks North Star Borough,37.5,0.663
10,AK,Haines Borough,NaN,NaN
11,AK,Haines Borough,NaN,NaN
12,AK,Juneau Borough,27.2,0.720
13,AK,Juneau Borough,25.6,0.700
14,AK,Kenai Peninsula Borough,30.2,0.730
15,AK,Kenai Peninsula Borough,29.6,0.790
16,AK,Ketchikan Gateway Borough,30.4,0.675
17,AK,Ketchikan Gateway Borough,29.8,0.770
18,AK,Kodiak Island Borough,32.2,0.780
19,AK,Kodiak Island Borough,31.8,0.800
20,AK,Lake and Peninsula Borough,52.0,NaN
21,AK,Lake and Peninsula Borough,49.1,NaN
22,AK,Matanuska-Susitna Borough,32.5,0.700
23,AK,Matanuska-Susitna Borough,32.6,0.720
24,AK,Nome Census Area,96.7,0.593
25,AK,Nome Census Area,94.0,0.605
26,AK,North Slope Borough,100.2,0.575
27,AK,North Slope Borough,92.2,0.575
28,AK,Northwest Arctic Borough,96.0,0.475
29,AK,Northwest Arctic Borough,94.7,0.525
30,AK,Prince of Wales-Outer Ketchikan Census Area,50.5,NaN
31,AK,Prince of Wales-Outer Ketchikan Census Area,47.9,NaN
32,AK,Sitka Borough,27.2,0.846
33,AK,Sitka Borough,28.4,0.826
34,AK,Skagway-Hoonah-Angoon Census Area,28.5,NaN
35,AK,Skagway-Hoonah-Angoon Census Area,26.3,NaN
36,AK,Southeast Fairbanks Census Area,37.3,0.643
37,AK,Southeast Fairbanks Census Area,37.6,0.508
38,AK,Valdez-Cordova Census Area,25.5,NaN
39,AK,Valdez-Cordova Census Area,24.5,0.872
40,AK,Wade Hampton Census Area,103.4,0.457
41,AK,Wade Hampton Census Area,107.1,0.439
42,AK,Wrangell-Petersburg Census Area,33.0,0.826
43,AK,Wrangell-Petersburg Census Area,35.9,NaN
44,AK,Yukon-Koyukuk Census Area,60.2,0.509
45,AK,Yukon-Koyukuk Census Area,61.5,0.526

In [55]:
TeenCountyData = df.loc[:,["State","County","Teen births", "High school graduation"]].head(n=46).copy()

In [56]:
## Creating a New Data File for The "Edited" Data


# As seen above, the new data set was given the name "STICountyData". By simply typing the name of the new data, and run the strip of text, you will get back the new data table that you indexed.

In [59]:
TeenCountyData

,State,County,Teen births,High school graduation
0,AK,Aleutians West Census Area,21.1,NaN
1,AK,Aleutians West Census Area,21.6,NaN
2,AK,Anchorage Borough,37.7,0.718
3,AK,Anchorage Borough,36.7,0.730
4,AK,Bethel Census Area,80.3,0.408
5,AK,Bethel Census Area,81.0,0.442
6,AK,Dillingham Census Area,55.3,NaN
7,AK,Dillingham Census Area,57.6,NaN
8,AK,Fairbanks North Star Borough,38.1,0.676
9,AK,Fairbanks North Star Borough,37.5,0.663
10,AK,Haines Borough,NaN,NaN
11,AK,Haines Borough,NaN,NaN
12,AK,Juneau Borough,27.2,0.720
13,AK,Juneau Borough,25.6,0.700
14,AK,Kenai Peninsula Borough,30.2,0.730
15,AK,Kenai Peninsula Borough,29.6,0.790
16,AK,Ketchikan Gateway Borough,30.4,0.675
17,AK,Ketchikan Gateway Borough,29.8,0.770
18,AK,Kodiak Island Borough,32.2,0.780
19,AK,Kodiak Island Borough,31.8,0.800
20,AK,Lake and Peninsula Borough,52.0,NaN
21,AK,Lake and Peninsula Borough,49.1,NaN
22,AK,Matanuska-Susitna Borough,32.5,0.700
23,AK,Matanuska-Susitna Borough,32.6,0.720
24,AK,Nome Census Area,96.7,0.593
25,AK,Nome Census Area,94.0,0.605
26,AK,North Slope Borough,100.2,0.575
27,AK,North Slope Borough,92.2,0.575
28,AK,Northwest Arctic Borough,96.0,0.475
29,AK,Northwest Arctic Borough,94.7,0.525
30,AK,Prince of Wales-Outer Ketchikan Census Area,50.5,NaN
31,AK,Prince of Wales-Outer Ketchikan Census Area,47.9,NaN
32,AK,Sitka Borough,27.2,0.846
33,AK,Sitka Borough,28.4,0.826
34,AK,Skagway-Hoonah-Angoon Census Area,28.5,NaN
35,AK,Skagway-Hoonah-Angoon Census Area,26.3,NaN
36,AK,Southeast Fairbanks Census Area,37.3,0.643
37,AK,Southeast Fairbanks Census Area,37.6,0.508
38,AK,Valdez-Cordova Census Area,25.5,NaN
39,AK,Valdez-Cordova Census Area,24.5,0.872
40,AK,Wade Hampton Census Area,103.4,0.457
41,AK,Wade Hampton Census Area,107.1,0.439
42,AK,Wrangell-Petersburg Census Area,33.0,0.826
43,AK,Wrangell-Petersburg Census Area,35.9,NaN
44,AK,Yukon-Koyukuk Census Area,60.2,0.509
45,AK,Yukon-Koyukuk Census Area,61.5,0.526

In [60]:
# The last thing to do is now establish this new data table as a separate file. We can do this by typing "Name of New Data.to_csv("Name of New Data", index=false)". This strip of code will transform this cut dataset into its own csv file.

In [61]:
STICountyData.to_csv("TeenCountyData.csv", index=False)